.mb_1 {
  margin-bottom: 1rem;
}
.mb_2 {
  margin-bottom: 2rem;
}

.mb_3 {
  margin-bottom: 3rem;
}

.mb_4 {
  margin-bottom: 4rem;
}

.mb_5 {
  margin-bottom: 5rem;
}

.mb_6 {
  margin-bottom: 6rem;
}
/* Margin top */
.mt_1 {
  margin-top: 1rem;
}
.mt_2 {
  margin-top: 2rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mt_4 {
  margin-top: 4rem;
}

.mt_5 {
  margin-top: 5rem;
}

.mt_6 {
  margin-top: 6rem;
}

/* padding */

.pb_1 {
  padding-bottom: 1rem;
}
.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pb_4 {
  padding-bottom: 4rem;
}

.pb_5 {
  padding-bottom: 5rem;
}

.pb_6 {
  padding-bottom: 6rem;
}

/* Padding top  */

.pt_1 {
  padding-top: 1rem;
}
.pt_2 {
  padding-top: 2rem;
}

.pt_3 {
  padding-top: 3rem;
}

.pt_4 {
  padding-top: 4rem;
}

.pt_5 {
  padding-top: 5rem;
}

.pt_6 {
  padding-top: 6rem;
}

/* CENTER TEXT */

.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
/* DISPLAY FLEX */

.d_flex {
  display: flex;
}
.d_inline_b {
  display: inline-block;
}
